*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
  padding: 0 76px;
  position: sticky;
}

.menu{
  font-size: 45px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.Logo{
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
  margin-top: 5px;
}

.LogoCon{
  display: flex;
}

.Logo-title{
  margin-left: 12px;
  font-size: 2rem;
  font-weight: bold;
  
}

.pointer{
  cursor: pointer;
}

.flex_Container{
  display: flex;
  justify-content: center;
}
.page_Container{
  justify-content: center;
}
.menuCon{
  top : 80px;
  left : 960px;
  position: fixed;
  list-style-type: none;
  z-index: 999;
  background-color: #FFFFFF;
}

.menuBox{
  border: solid black 1px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

a{
  color: black;
  text-decoration: none;
}

.footer{
  text-align: center;
  color: #888888;
}

.product_img{
  width: 264px;
  height: 210px;
  border-radius: 12px;
}

.Product_Container{
  width: 264px;
  height: 264px;
  position: relative;
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}

.Product_Page_Container{
  justify-content: center;
  display: flex;
  width : 1280px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12px;
}

.detail_container{
  display: flex;
  justify-content: space-between;
  width: 264px;
}

.title_font,.brand{
  font-family: Inter;
font-size: 16px;
font-weight: 800;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}
.sale{
  color: #452cdd;
  font-family: Inter;
font-size: 16px;
font-weight: 800;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
}

.right{
  text-align: right;
  width: 264px;
  margin-top:5px;
}

.left{
  font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
margin-top:5px;
}
.Right{
  text-align: right;
  width: 264px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right; 
  margin-top:5px;
}
.on-off{
  position: absolute;
  right: 10px;
  bottom: 65px;
}

.Title{
  margin-left:76px;
  margin-top:24px;
}

.Title2{
  margin-left:76px;
  margin-top:12px;
}

.root{
  max-width: 1280px;
}