*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
  padding: 0 76px;
  position: sticky;
}

.menu{
  font-size: 45px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.Logo{
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
  margin-top: 5px;
}

.LogoCon{
  display: flex;
}

.Logo-title{
  margin-left: 12px;
  font-size: 2rem;
  font-weight: bold;
  
}

.pointer{
  cursor: pointer;
}

.page_Container{
  background-color: aqua;
  display: flex;
}

.menuCon{
  right: 120px;
  position: fixed;
  list-style-type: none;
}

.menuBox{
  border: solid black 1px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

a{
  color: black;
  text-decoration: none;
}

.footer{
  text-align: center;
  color: #888888;
}